<html>
    <head>
        <meta charset="utf-8">
        <!-- Bootstrap CSS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="base-navbar">
            <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <a href="{{ url_for('resume') }}"><img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="logo"></a>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                        </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if page in ['resume', 'howtowork'] %}active{% endif %}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Work
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" ><a class="nav-link {% if page == 'resume' %}active{% endif %}" href="{{ url_for('resume') }}">Resume</a></li>
                                    <li class="nav-item" ><a class="nav-link {% if page == 'howtowork' %}active{% endif %}" href="{{ url_for('howtowork') }}">How to work with me</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% for subpage in ['boardgames', 'dramas', 'korean', 'motorcycle'] %}{% if subpage in page %}active{% endif %}{%endfor%}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Hobbies
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item" ><a class="nav-link {% if page == 'boardgames' %}active{% endif %}" href="{{ url_for('boardgames_get') }}">Boardgames</a></li>
                                    <li class="nav-item" ><a class="nav-link {% if page == 'dramas' %}active{% endif %}" href="{{ url_for('dramas') }}">Dramas</a></li>
                                    <li class="nav-item" ><a class="nav-link {% if 'korean' in page %}active{% endif %}" href="{{ url_for('korean') }}">Korean</a></li>
                                    <li class="nav-item" ><a class="nav-link {% if page == 'motorcycle' %}active{% endif %}" href="{{ url_for('motorcycle') }}">Motorcycle</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="d-flex">
                            <a href=https://www.linkedin.com/in/gaetan-piquenot-759abb263><img class="contact-icon" src={{ url_for('static', filename='linkedin-icon.png') }}></a>
                            <a href=https://github.com/daisukixci><img class="contact-icon" src={{ url_for('static', filename='github-icon.png') }}></a>
                            <a href=https://gitlab.com/daisukixci><img class="contact-icon" src={{ url_for('static', filename='gitlab-icon.png') }}></a>
                            <a href=https://reddit.com/u/daisukixci><img class="contact-icon" src={{ url_for('static', filename='reddit-round-color-icon.png') }}></a>
                            {% if current_user and current_user.is_authenticated %}
                            <button type="button" class="btn btn-outline-success" onclick="location.href='{{ url_for('logout') }}'" >Logout {{current_user.email}}</button>
                            {% else %}
                            <button type="button" class="btn btn-outline-success" onclick="location.href='{{ url_for('login') }}'" >Admin</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content container-fluid">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>
