{% extends 'base.html' %}

{% block content %}
<div">
    <h1>{% block title %}Boardgames{% endblock %}</h1>
    <div class="btn-group" role="group" aria-label="...">
        <button type="button" onclick="location.href='{{ url_for('boardgames_create_form') }}'" class="btn btn-primary">Add a boardgame</button>
    </div>
    <br>
    <br>
    <div class="accordion" id="boardgameAccordion">
    {% for boardgame in boardgames %}
        <div class="accordion-item">
            <h5 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse{{ loop.index0 }}">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-auto me-auto">
                                {{ boardgame.name | title }}
                            </div>
                            <div class="col-auto">
                                Category: {{ boardgame.category }} Player: {{ boardgame.min_player }}-{{boardgame.max_player}}
                            </div>
                        </div>
                    </div>
                </button>
            </h2>
            <div id="collapse{{ loop.index0 }}" class="accordion-collapse collapse" data-bs-parent="#boardgameAccordion">
                <div class="accordion-body">
                    <strong><a href="{{boardgame.url}}" target="_blank">Rules tutorial</a></br></strong>
                    {{ boardgame.desc }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
