{% extends 'base.html' %}

{% block content %}
{% if error %}
<div class="alert alert-danger" role="alert">
  {{ error }}
</div>
{% endif %}
{% from "_formhelpers.html" import render_field %}
<div>
    <h1>{% block title %} Add boardgame {% endblock %}</h1>
    <form method=post>
        {% for field in form %}
        <div class="mb-3">
            {{ render_field(field) }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

