{% extends 'base.html' %}
{% block content %}
<div>
    <h1>{% block title %}Dramas{% endblock %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Genre</th>
                <th scope="col">Country</th>
                <th scope="col">Platform</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for drama in dramas %}
            {% if drama.enabled %}
            {% set countries = drama.country.split(',') %}
            <tr>
                <th scope="row">{{drama.title}}</th>
                <td>{{drama.media_type.value}}</td>
                <td>{{", ".join(drama.tags)}}</td>
                <td><img class="drama-pictures drama-country" src={{ url_for('static', filename="countries/" + countries[0] | lower() | replace(" ", "_") + ".svg") }} alt="{{drama.country}}"/></td>
                <td>
                    {%if drama.platform.name != 'TODO' %}
                    <a href="{{drama.platform.url}}" target="_blank"><img class="drama-pictures" src="{{ url_for('static', filename="streaming/"+drama.platform.name| lower() +".svg") }}" alt="{{drama.platform.name}}"/></a>
                    {%else%}
                    {{drama.platform.name}}
                    {%endif%}
                </td>
                <td>{{drama.score}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
