{% extends 'base.html' %}
<style type="text/css">
.first_level_list {
    list-style-type: lower-roman;
}
.second_level_list {
    list-style-type: square;
    margin-left: -2em;
}
</style>

{% block content %}
<div>
    <h1>{% block title %} How to work with me {% endblock %}</h1>
    <ul class="list-inline">
        <li><strong>Self-Focus</strong>
            <ul>
                <li><strong>Work Hours & Productivity:</strong> My general work hours are from 9:30 AM to 6:30 PM. I feel most productive in the afternoon.</li>
                <li><strong>Calendar Management:</strong> I keep my calendar up-to-date and rely on it entirely to manage my time effectively.</li>
                <li><strong>Preferred Communication Channels:</strong> Slack and email are the best ways to reach me. I monitor them frequently.</li>
                <li><strong>Communication Preferences:</strong> I prioritize communication in the following order: Slack, text messages, meetings, video chats, emails, and phone calls.</li>
                <li><strong>Conflict Resolution:</strong> I can become frustrated to a certain extent when conflicts arise, but if it becomes overwhelming, I may distance myself from the situation.</li>
                <li><strong>Frustrations:</strong> Laziness and dishonesty are behaviors I find most frustrating. I also struggle to work with people who don't honor their commitments.</li>
                <li><strong>Motivation:</strong> Continuous improvement and learning new technologies are key drivers for me.</li>
                <li><strong>Optimal Work Environment:</strong> I thrive in a healthy and enjoyable environment where I feel proud of my company. I give my best to what I believe in.</li>
                <li><strong>Areas for Improvement:</strong> I have a strong desire to be involved in all technical aspects of my projects, which makes delegating tasks challenging for me. I’m actively working on improving this by being more conscious of my teammates' work and participating in technical decisions.</li>
            </ul>
        </li>
        <li><strong>Interaction with Others</strong>
            <ul>
                <li><strong>Management Needs:</strong> I need the freedom to express my opinions on matters that impact me. It's also important that my manager holds the team accountable for our work.</li>
                <li><strong>Coaching Style:</strong> I encourage people to seek out the best solutions, not just any solution.</li>
                <li><strong>Expectations from Peers:</strong> Honesty is crucial for me. I’m a direct person, and I expect the same level of honesty from my peers.</li>
                <li><strong>Giving Feedback:</strong> I prefer to provide feedback directly to the individual involved and, if necessary, to my manager, especially if it's regarding a direct teammate.</li>
                <li><strong>Receiving Feedback:</strong> I appreciate feedback that is direct and honest, ideally with constructive suggestions for improvement in both technical and personal aspects.</li>
                <li><strong>Values & Admiration:</strong> I particularly value critical thinking, excellence, and a strong work ethic.</li>
                <li><strong>Persuasion:</strong> The best way to convince me to do something is by providing solid technical and scientific reasoning. While personal opinions are valid, I prefer them to be backed by supporting facts.</li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}
