{% extends 'base.html' %}

{% block content %}
<div>
    <h1>{% block title %}한국어 Korean{% endblock %}</h1>
    I started learning Korean in 2024 and I made those quizz to help me pratice what I learn in class. I hope you will find them useful too.
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for quiz in quizzes %}
        {% if quiz['enabled'] %}


        <div class="col">
            <a href="{{ url_for(quiz['url']) }}" class="quiz-link">
            <div class="card h-100 quiz-card">
                <svg class="card-img-top" height="50" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0" y="0" width="100%" height="50" fill="#007bff" />
                    <text class="card-title" x="20" y="30" font-family="Arial" font-size="24" fill="#ffffff">{{quiz['title']}}</text>
                </svg>
                <div class="card-body">
                    <p class="card-text">{{quiz['description']}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{quiz['last_update']}}</small>
                </div>
            </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
