{% extends 'base.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
{% from "_formhelpers.html" import render_field %}
<div class="container">
    <h1>{% block title %} Login {% endblock %}</h1>
    <form method=post>
        <div class="mb-3">
            {{ render_field(form.email, class_="form-control") }}
            {{ render_field(form.password, class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

