{% extends 'base.html' %} {% block content %}
<div>
    <h1>{% block title %}Motorcycle{% endblock %}</h1>
    <div>
        Addicted to motorcycle, I often go on a ride with my friends. Here are some pictures of our rides.
        My first bike was a Honda CBR 500R, then I switched to a CB650R. Looking forward to the next one!
    </div>
    <div id="carouselFade" class="carousel slide carousel-fade container">
        <div class="carousel-indicators">
            {% for moto_picture in moto_pictures %}
            <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="{{loop.index % moto_pictures|length}}" {% if loop.index == 1 %}class="active"{% endif %}aria-label="Slide {{loop.index}}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for moto_picture in moto_pictures %}
            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                <img src="{{ moto_picture }}" class="d-block w-100 moto-picture">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
