{% extends 'base.html' %} {% block content %}
<div>
  <a href="{{ url_for(back_link) }}">Back</a>
  <h1>{% block title %}Quiz{% endblock %}</h1>
  <h2>
    {% if quiz %}{{ quiz.quiz_data.title }}{% else %}Quiz not found{% endif %}
  </h2>
  <div class="alert alert-info score" role="alert">
    Your score is {{ quiz.quiz_data.score }} out of {{
    quiz.quiz_data.total_questions }}.
  </div>
  {% if quiz and quiz.quiz_data.questions != [] %}
  <div
    class="row row-cols-1 row-cols-md-{{ quiz.quiz_data.questions | length % 6 }} g-4 quiz-grid"
  >
    {% for item in quiz.quiz_data.questions %}
    <div class="col">
      <div class="card h-100">
        {% if item.correct %}
        <span class="badge text-bg-success">Correct</span>
        {% else %}
        <span class="badge text-bg-danger">Incorrect</span>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ item.question | title }}</h5>
          <p class="card-text">
            Your answer: {{ user_answers[loop.index-1] | title }}
          </p>
          <p class="card-text">Correct answer: {{ item.answer | title }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="container-fluid text-center">
    <div class="row">
      <a
        class="btn btn-primary quiz-button"
        href="{{ url_for(quiz.quiz_data.url) }}"
        role="button"
      >
        Next question
      </a>
    </div>
  </div>
  {% else %}
  <p>No result found</p>
  {% endif %}
</div>
{% endblock %}
