{% extends 'base.html' %}
{% block content %}
<div>
    <a href="{{ url_for(back_link) }}">Back</a>
    <h1>{% block title %}Quiz{% endblock %}</h1>
    <h2>{% if quiz %}{{ quiz.quiz_data.title }}{% else %}Quiz not found{% endif %}</h2>
    {% if quiz and quiz.quiz_data.questions != [] %}
    <p>{{ quiz.quiz_data.description }}</p>
    <form action="{{ url_for(quiz.quiz_data.url + "_post") }}" method="post">
        <div class="row row-cols-1 row-cols-md-{{ quiz.quiz_data.questions | length % 6 }} g-4 quiz-grid">
            {% for item in quiz.quiz_data.questions %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ format_question(item.question) }}</h5>
                        <input class="input-group-text container-fluid" type="text" name="answer{{ loop.index }}">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="container-fluid text-center">
            <div class="row">
                <input class="btn btn-primary quiz-button" type="submit" value="Submit">
            </div>
            <div class="row">
                <a class="btn btn-primary quiz-button" href="{{ url_for(quiz.quiz_data.url) }}" role="button">
                    Next question
                </a>
            </div>
        </div>
        {% else %}
        <p>No quiz found</p>
        {% endif %}
    </form>
</div>
{% endblock %}
