{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center">{% block title %}{{ experiences[0].title }}{% endblock %}</h1>
    <div class="text-center">
        <a href=https://www.linkedin.com/in/gaetan-piquenot-759abb263><img class="contact-icon" src={{ url_for('static', filename='linkedin-icon.png') }} width="50" height="50"></a>
        <a href=https://github.com/daisukixci><img class="contact-icon" src={{ url_for('static', filename='github-icon.png') }} width="50" height="50"></a>
        <a href=https://gitlab.com/daisukixci><img class="contact-icon" src={{ url_for('static', filename='gitlab-icon.png') }} width="50" height="50"></a>
    </div>
    <h2>Overview</h2>
    <p>
    {{ overview }}
    </p>
    <h2>Expertise Includes</h2>
    <ul>
        {% for expertise in expertises %}
        <li>{{ expertise }}</li>
        {% endfor %}
    </ul>
    <h2>Selected Achievements</h2>
    <div class="container text-center">
        <div class="card-group">
            {% for achievement in achievements%}
            {% if loop.index == 1 or (loop.index - 1) is divisibleby(3) %}<div class="row card-row">{% endif %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ achievement.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ achievement.date }}</h6>
                            <p class="card-text">{{ achievement.desc }}</p>
                        </div>
                    </div>
                </div>
                {% if loop.index == 3 or loop.index is divisibleby(3) %}</div>{% endif %}
            {% endfor %}
        </div>
    </div>
    <h2>Experience</h2>
    <table class="table">
        {% for experience in experiences %}
        <tr>
            <td>{{ experience.date }}</td>
            <td><strong>{{ experience.title }}</strong><br>{{ experience.company }}, {{ experience.location }}</td>
            <td colspan="4">{{ experience.desc.replace('\n', '<br>')|safe }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Education</h2>
    <table class="table">
        {% for education in educations %}
        <tr>
            <td>{{ education.date }}</td>
            <td><strong>{{ education.title }}</strong><br>{{ education.school }}, {{ education.location}}</td>
            <td>{{ education.desc }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Computer Skills</h2>
    <div class="container text-center">
        {% for skill in computer_skills %}
        {% if loop.index == 1 or (loop.index - 1) is divisibleby(3) %}<div class="row card-row">{% endif %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ skill.category }}</h5>
                        <p class="card-text">{{ skill.desc }}</p>
                    </div>
                </div>
            </div>
            {% if loop.index == 3 or loop.index is divisibleby(3) %}</div>{% endif %}
        {% endfor %}
    </div>
    <h2>Languages</h2>
    <div class="container text-center">
        {% for spoken in spoken_languages %}
        {% if loop.index == 1 or (loop.index - 1) is divisibleby(3) %}<div class="row card-row">{% endif %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ spoken.language}}</h5>
                        <p class="card-text">{{ spoken.level }}</p>
                    </div>
                </div>
            </div>
            {% if loop.index == 3 or loop.index is divisibleby(3) %}</div><br>{% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
