/*
 * We keep a 8 multiplier for padding and margin
 */
h1 {
  font-size: 3rem;
  padding-top: 16px;
  padding-bottom: 16px;
}

h2 {
  font-size: 2rem;
  padding-bottom: 16px;
}

.content {
  padding: 20px;
  font-size: 1rem;
}

.logo {
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
  padding-right: 16px;
}

.contact-icon {
  max-width: 60px;
  max-height: 60px;
  width: auto;
  height: auto;
  padding-right: 16px;
}

.logged-user {
  padding-right: 8px;
  font-size: 1rem;
}

.debug {
  border: 1px solid red;
}

.moto-picture {
  object-fit: cover;
  max-width: 2000px;
  max-height: 700px;
  width: auto;
  height: auto;
}

.card-row {
  padding: 8px;
}

.quiz-card:hover {
  background-color: #f9f9f9;
}

.quiz-link {
  text-decoration: none;
  color: black;
}

.quiz-grid {
  margin-bottom: 16px;
}

.drama-pictures {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
.drama-country {
  border: 1px solid grey;
}

.carousel {
  margin-top: 16px;
}

.quiz-button {
  margin-top: 8px;
  margin-bottom: 8px;
}
